#containerProyectos
{
    padding: 0 30px;
}

 #containerProyectos h1
{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

 #containerProyectos #controles
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}

 #containerProyectos #controles button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #AB51E3;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 5px 15px;
    box-shadow: 0px 4px 10px var(--sombra);
}

 #containerProyectos #controles button p
{
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 16px;
    margin: 0;
}

 #containerProyectos #controles button .material-symbols-outlined
{
    font-size: 32px;
    font-variation-settings:
    'wght' 300
}

 #containerProyectos #controles #buscador
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    color: rgb(90, 90, 90);
    padding: 0 15px;
    gap: 10px;
    box-shadow: 0px 4px 10px rgb(234, 234, 234);
}

 #containerProyectos #controles #buscador input
{
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-size: 16px;
    width: 300px;
}

 #containerProyectos #controles #buscador .material-symbols-outlined
{
    font-size: 30px;
    font-variation-settings:
    'wght' 200
}

 #containerProyectos > p
{
    font-size: 18px;
    font-weight: 350;
    text-align: start;
}

 #containerProyectos #tabla
{
    overflow: auto; 
    height: 330px;
    margin-top: -10px;
}

#tabla::-webkit-scrollbar {
    width: 8px;
  }
  
#tabla::-webkit-scrollbar-track {
    background: #DFDFDF;   
    border-radius: 10px;
  }
  
#tabla::-webkit-scrollbar-thumb {
    background-color: var(--color-principal);
    border-radius: 20px; 
  }

 #containerProyectos table
{
    width: 99%;
    border-spacing: 0 10px;
    border-collapse: separate;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
}

 #containerProyectos table tr
{
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--sombra);
    box-shadow: 0 2px 10px #b2b2b25d;
}

 #containerProyectos table thead th
{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-weight: 600;

    position: sticky;
    top: 0;
}


 #containerProyectos table tbody td:first-child,
 #containerProyectos table thead th:first-child
{
    padding-left: 20px;
    width: 20px;
}

 #containerProyectos table tbody td,
 #containerProyectos table thead th
{
    background-color: white;
    padding: 8px 15px;
    /* border-left: 1px solid rgb(218, 218, 218); */
} 

 #containerProyectos table thead th:first-child,
 #containerProyectos table tbody td:first-child
{
    border-radius: 10px 0 0 10px;
}

 #containerProyectos table thead th:last-child, 
 #containerProyectos table tbody td:last-child
{
    border-radius: 0 10px 10px 0;
    text-align: center;
}

 #containerProyectos table .acciones #acciones1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

 #containerProyectos table .acciones button
{
    border: none;
    background-color: transparent;
}

 #containerProyectos table .acciones button .material-symbols-outlined
{
    font-size: 30px;
    font-variation-settings:
    'wght' 200
}

 #containerProyectos table .acciones button .material-symbols-outlined:hover
{
    font-variation-settings:
    'wght' 300
}

 #containerProyectos table .acciones button .material-symbols-outlined.visibility
{
    color: var(--color-principal);
}

 #containerProyectos table .acciones button .material-symbols-outlined.edit
{
    color: #5E5E5E;
}

 #containerProyectos table .acciones button .material-symbols-outlined.delete
{
    color: #E35151;
}

dialog #container 
{
    width: 450px;
    margin: 0 auto;
}

dialog #container h2
{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

dialog #container > p
{
    font-size: 17px;
    font-weight: 350;
    margin-bottom: 20px;
}

dialog #container form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dialog #container form label
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    font-weight: 450;
}

dialog #container form label input,
dialog #container form label textarea, 
dialog #container form label select
{
    font-family: 'Montserrat';
    font-size: 16px;
    border: 1.5px solid #D9D9D9;
    border-radius: 5px;
    padding: 5px 10px;
}

dialog #container form label input:focus, 
dialog #container form label textarea:focus,
dialog #container form label select:focus
{
    outline: none;
    border: 1.5px solid var(--color-principal);
}

dialog #container button
{
    display: block;
    margin: 30px auto 0;
    border: 1.5px solid var(--color-principal);
    background-color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 30px;
}

dialog #container button:hover
{
    background-color: var(--color-principal);
    color: white;
    font-weight: 600;
}